* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.login_back {
  height: 100vh;
  display: grid;
  align-items: center;
  place-items: center;
  background-color: rgb(22, 22, 22);
}
.container {
  min-width: 50vh;
  min-height: 60vh;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-items: center;

  width: 300px;
  background-color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
}
.input_cred {
  user-select: none;
  outline: none;
  border: 2px solid;
  font-size: 0.9em;

  border-color: #00c853;
  height: 40px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 40px;
  width: 250px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
}
.btn-signin {
  user-select: none;
  cursor: pointer;
  background: #1db954;
  border: none;
  height: 30px;
  outline: none;
  width: 130px;
  border-radius: 20px;
  color: rgb(34, 34, 34);
  transition: all 0.2s ease;
  font-weight: 600;
  margin-top: 2em;
}
.btn-signin:hover {
  background: #1d7a1d;
}

h2 {
  font-size: 1.7em;
  padding: 1em;
  padding-bottom: 0.7em;
}

.warning-text {
  color: rgba(255, 0, 0, 0.707);
  font-weight: 600;
  padding: 0.8em;
  margin: 1em;
  justify-content: center;
  text-align: center;
}
.success-text {
  color: #15853d;
  font-weight: 600;
  padding: 0.8em;
  margin: 1em;
  justify-content: center;
  text-align: center;
}
.hidden {
  display: none;
}

.register-class {
  color: rgba(0, 0, 0, 0.828);
}

.register-class span {
  text-decoration: underline;
}
.register-class span:hover {
  color: black;
  text-decoration: none;
}

/* ------------------------------ Welcome ---------------------- */
.welcome_class h1 {
  color: white;
  font-size: 2em;
  max-width: 500px;
  position: absolute;
  transform: translate(1.5em, -300%);
}

.button_container {
  display: flex;
  justify-content: space-around;
  font-weight: 300;
}

.register_butt {
  height: 50px;
  width: 150px;
  border-radius: 30px;
  background: transparent;
  color: white;
  outline: none;
  border: 2px #00c853 solid;
  font-size: 17px;
  margin: 1em;
  transition: all 0.2s ease;
}
.register_butt:hover {
  transform: scale(1.09);
  cursor: pointer;
}

.login_butt {
  height: 50px;
  width: 150px;
  border-radius: 30px;
  background: #00c853;
  border: 2px #00c853 solid;
  color: white;
  outline: none;

  font-size: 17px;
  margin: 1em;
  transition: all 0.2s ease;
}

.login_butt:hover {
  transform: scale(1.09);
  cursor: pointer;
  background: transparent;
}
